<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3><%= image_tag "icons/dollar.png", :width => 24 %> Colabore informando seu salário e cidade</h3>
  </div>
  <%= form_for(salario, remote: true) do |f| %>
  <div class="modal-body">
		<div class="alert alert-success hide" id="success">
		  <button class="close" data-dismiss="alert">×</button>
		  <strong>Obrigado!</strong> Salário enviado com sucesso!
		</div>
		
		<div class="alert alert-error hide" id="errors">
		  <button class="close" data-dismiss="alert">×</button>
		  <strong>Ops, algo de errado aconteceu!</strong> 
		  <span id="error_message">
			
		  </span>
		</div>
    	
	
			<%= label :city_state, "Estado" %>
		    <%= select :city_state,"state", @states.collect {|s| [ s.name, s.id ] }, {:prompt => 'Selecione Estado'}, class: "estados"  %>
			<%= f.label :city, "Cidade" %>
		  	<%= f.select :city_id, [], {:prompt => 'Selecione Estado antes'}, class: "cidades" %>
			<%= f.label :amount, "Salário" %>
			<%= f.text_field :amount %>
			<div id="gotcha">
				<%= gotcha %>
			</div>
			

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
	<%= f.button "Enviar", type: "submit", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>